<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tap_indicator_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,223},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,223},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,223},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,223},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,444},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,444},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,444},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,444},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
            <key>tap_indicator_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,665},{200,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,219}}</string>
                <key>sourceSize</key>
                <string>{200,219}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tap_indicator_frames.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fcbe78131dcb82e1125f743490b5bfab:8f7b1bd73ac618ef7b223c2c4b2907b4:5af04f91f0c9371194d893dcca97d7f1$</string>
            <key>textureFileName</key>
            <string>tap_indicator_frames.png</string>
        </dict>
    </dict>
</plist>
