<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bossrussian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,196}</string>
            </dict>
            <key>bossrussian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,196}</string>
            </dict>
            <key>bossrussian_white0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{176,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,196}</string>
            </dict>
            <key>bossrussian_white1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,200},{176,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,196}}</string>
                <key>sourceSize</key>
                <string>{176,196}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bossrussianframes-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a39edca6d4202fb84bd3deebd5f152a:43427b02fcfeb2c492f3a1b73280db23:72f22308854b05b3e3f156fa2f61da58$</string>
            <key>textureFileName</key>
            <string>bossrussianframes-hd.png</string>
        </dict>
    </dict>
</plist>
