<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>russian0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>russian1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>russian_white0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>russian_white1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,53},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>russianframes-hd.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4da77c88c5a38d6f781061616226bd7:8910dad886df200db0cb6b60d3929efb:1957ff01e60a7df1540ae19d69df86cd$</string>
            <key>textureFileName</key>
            <string>russianframes-hd.png</string>
        </dict>
    </dict>
</plist>
