<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>zombie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>zombie_white0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
            <key>zombie_white1.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,53},{42,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{42,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieframes-hd.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:648f0f996639c6cf2bbe2fd6f87104e5:9f7bcc97be38f321139880f3ad8fa6b5:2ad5c83d254b1bbed18673292b04d94b$</string>
            <key>textureFileName</key>
            <string>zombieframes-hd.png</string>
        </dict>
    </dict>
</plist>
