<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start_overlay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,136}}</string>
                <key>sourceSize</key>
                <string>{1136,136}</string>
            </dict>
            <key>start_overlay_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{1136,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,120}}</string>
                <key>sourceSize</key>
                <string>{1136,120}</string>
            </dict>
            <key>start_overlay_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{1136,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,128}}</string>
                <key>sourceSize</key>
                <string>{1136,128}</string>
            </dict>
            <key>start_overlay_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1136,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,128}}</string>
                <key>sourceSize</key>
                <string>{1136,128}</string>
            </dict>
            <key>start_overlay_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{1136,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,128}}</string>
                <key>sourceSize</key>
                <string>{1136,128}</string>
            </dict>
            <key>start_overlay_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{1136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,136}}</string>
                <key>sourceSize</key>
                <string>{1136,136}</string>
            </dict>
            <key>start_overlay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{1058,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1058,120}}</string>
                <key>sourceSize</key>
                <string>{1058,120}</string>
            </dict>
            <key>start_overlay_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{1068,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1068,120}}</string>
                <key>sourceSize</key>
                <string>{1068,120}</string>
            </dict>
            <key>start_overlay_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{1078,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1078,120}}</string>
                <key>sourceSize</key>
                <string>{1078,120}</string>
            </dict>
            <key>start_overlay_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{1088,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1088,120}}</string>
                <key>sourceSize</key>
                <string>{1088,120}</string>
            </dict>
            <key>start_overlay_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{1096,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1096,120}}</string>
                <key>sourceSize</key>
                <string>{1096,120}</string>
            </dict>
            <key>start_overlay_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{1106,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1106,120}}</string>
                <key>sourceSize</key>
                <string>{1106,120}</string>
            </dict>
            <key>start_overlay_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{1116,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1116,120}}</string>
                <key>sourceSize</key>
                <string>{1116,120}</string>
            </dict>
            <key>start_overlay_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{1126,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1126,120}}</string>
                <key>sourceSize</key>
                <string>{1126,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start_overlay-hd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bbc503bcf928871d3950bcefa46d881:9aee84a9a6e8477748309985866f6c17:0e54d34d2fbc32c5b748719cba5a4d15$</string>
            <key>textureFileName</key>
            <string>start_overlay-hd.png</string>
        </dict>
    </dict>
</plist>
