<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start_overlay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{568,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,68}}</string>
                <key>sourceSize</key>
                <string>{568,68}</string>
            </dict>
            <key>start_overlay_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{568,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,60}}</string>
                <key>sourceSize</key>
                <string>{568,60}</string>
            </dict>
            <key>start_overlay_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{568,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,64}}</string>
                <key>sourceSize</key>
                <string>{568,64}</string>
            </dict>
            <key>start_overlay_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{568,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,64}}</string>
                <key>sourceSize</key>
                <string>{568,64}</string>
            </dict>
            <key>start_overlay_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{568,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,64}}</string>
                <key>sourceSize</key>
                <string>{568,64}</string>
            </dict>
            <key>start_overlay_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{568,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,68}}</string>
                <key>sourceSize</key>
                <string>{568,68}</string>
            </dict>
            <key>start_overlay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{529,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,60}}</string>
                <key>sourceSize</key>
                <string>{529,60}</string>
            </dict>
            <key>start_overlay_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{534,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,60}}</string>
                <key>sourceSize</key>
                <string>{534,60}</string>
            </dict>
            <key>start_overlay_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{539,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{539,60}}</string>
                <key>sourceSize</key>
                <string>{539,60}</string>
            </dict>
            <key>start_overlay_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{544,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{544,60}}</string>
                <key>sourceSize</key>
                <string>{544,60}</string>
            </dict>
            <key>start_overlay_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{548,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{548,60}}</string>
                <key>sourceSize</key>
                <string>{548,60}</string>
            </dict>
            <key>start_overlay_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{553,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{553,60}}</string>
                <key>sourceSize</key>
                <string>{553,60}</string>
            </dict>
            <key>start_overlay_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{558,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,60}}</string>
                <key>sourceSize</key>
                <string>{558,60}</string>
            </dict>
            <key>start_overlay_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{563,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{563,60}}</string>
                <key>sourceSize</key>
                <string>{563,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>start_overlay.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9b8a15f053dd84782fcbfe2d30d68bd:0773d9af05c6c2b543ae3719a25240c8:0801795480c38fa1bcfa6be4715c379a$</string>
            <key>textureFileName</key>
            <string>start_overlay.png</string>
        </dict>
    </dict>
</plist>
