<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_mark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{274,148}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,0},{274,148}}</string>
                <key>sourceSize</key>
                <string>{300,150}</string>
            </dict>
            <key>indicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,98},{200,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,94}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>timingIndicator.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,94}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{200,94}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meteorframes-hd.pvr.ccz</string>
            <key>size</key>
            <string>{248,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d8d653a4d3da28cec510eb2312acd88:754516cff437773aeda45dfb96beb79d:54eff1c5a65f0b5bc859a7c0146eb18e$</string>
            <key>textureFileName</key>
            <string>meteorframes-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
