<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zombie0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{44,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{44,59}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>zombie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{46,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,61}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>zombie_white0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{44,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{44,59}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>zombie_white1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,61}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieframes-hd.pvr.ccz</string>
            <key>size</key>
            <string>{50,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0741cfc1fcf4eb7dfd45ac54a37484a:f64546c36e0e08d063ced2bff9c1aca6:5c81cfe899bcfbd9929e71e079678d1f$</string>
            <key>textureFileName</key>
            <string>zombieframes-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
