<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tombstone0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{42,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>tombstone1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>tombstone_white0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{42,49}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{42,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>tombstone_white1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{56,49}</string>
            </dict>
            <key>zombie0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,189},{44,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{44,59}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>zombie1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,65},{46,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,61}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>zombie_white0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{44,59}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{44,59}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
            <key>zombie_white1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,61}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,61}}</string>
                <key>sourceSize</key>
                <string>{48,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zombieframes-hd.pvr.ccz</string>
            <key>size</key>
            <string>{50,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8108ef5bace81d5162d1848723cc263b:d2abe05439282638f8571e66b1c7d50c:5c81cfe899bcfbd9929e71e079678d1f$</string>
            <key>textureFileName</key>
            <string>zombieframes-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
