<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>win_overlay_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,400},{568,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,100}}</string>
                <key>sourceSize</key>
                <string>{568,100}</string>
            </dict>
            <key>win_overlay_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,188},{568,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,60}}</string>
                <key>sourceSize</key>
                <string>{568,60}</string>
            </dict>
            <key>win_overlay_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{568,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,87}}</string>
                <key>sourceSize</key>
                <string>{568,87}</string>
            </dict>
            <key>win_overlay_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,320},{568,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,78}}</string>
                <key>sourceSize</key>
                <string>{568,78}</string>
            </dict>
            <key>win_overlay_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{568,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,71}}</string>
                <key>sourceSize</key>
                <string>{568,71}</string>
            </dict>
            <key>win_overlay_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,250},{568,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{568,68}}</string>
                <key>sourceSize</key>
                <string>{568,68}</string>
            </dict>
            <key>win_overlay_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{523,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{523,60}}</string>
                <key>sourceSize</key>
                <string>{523,60}</string>
            </dict>
            <key>win_overlay_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{528,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{528,60}}</string>
                <key>sourceSize</key>
                <string>{528,60}</string>
            </dict>
            <key>win_overlay_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{534,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{534,60}}</string>
                <key>sourceSize</key>
                <string>{534,60}</string>
            </dict>
            <key>win_overlay_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{540,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{540,60}}</string>
                <key>sourceSize</key>
                <string>{540,60}</string>
            </dict>
            <key>win_overlay_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,126},{545,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{545,60}}</string>
                <key>sourceSize</key>
                <string>{545,60}</string>
            </dict>
            <key>win_overlay_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,64},{551,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,60}}</string>
                <key>sourceSize</key>
                <string>{551,60}</string>
            </dict>
            <key>win_overlay_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{557,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,60}}</string>
                <key>sourceSize</key>
                <string>{557,60}</string>
            </dict>
            <key>win_overlay_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{562,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,60}}</string>
                <key>sourceSize</key>
                <string>{562,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>win_overlay_frames.png</string>
            <key>size</key>
            <string>{1142,502}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f9c9b77c39dd1c1ef29ac2026495382:bfc906e0ef4bff1bf8193c23bc83207e:7eaa92c3523af5a29d2961edd5f11b3c$</string>
            <key>textureFileName</key>
            <string>win_overlay_frames.png</string>
        </dict>
    </dict>
</plist>
