<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>UnitType</key>
		<integer>3</integer>
		<key>waveTimer</key>
		<integer>2</integer>
		<key>waveDelay</key>
		<real>0.35</real>
		<key>probabilityWaveDelay</key>
		<real>0.2</real>
		<key>maxConsecutiveWaves</key>
		<integer>3</integer>
		<key>rowSize</key>
		<integer>2</integer>
		<key>waveSize</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>UnitType</key>
		<integer>3</integer>
		<key>waveTimer</key>
		<integer>20</integer>
		<key>waveDelay</key>
		<integer>3</integer>
		<key>probabilityWaveDelay</key>
		<real>0.3</real>
		<key>maxConsecutiveWaves</key>
		<integer>4</integer>
		<key>rowSize</key>
		<integer>2</integer>
		<key>waveSize</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>UnitType</key>
		<integer>1</integer>
		<key>waveTimer</key>
		<integer>2</integer>
		<key>waveDelay</key>
		<real>0.35</real>
		<key>probabilityWaveDelay</key>
		<real>0.2</real>
		<key>maxConsecutiveWaves</key>
		<integer>3</integer>
		<key>rowSize</key>
		<integer>2</integer>
		<key>waveSize</key>
		<integer>2</integer>
	</dict>
</array>
</plist>
